.wp-block-image.is-style-round img {
  border-radius: 20px;
}
.wp-block-image.is-style-shadow img {
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
}

.is-style-bottomborder {
  border-bottom: 2px solid #ccc;
}
.is-style-bottom2typeborder{
  position: relative;
   width: 100%;
  margin-top: 0;
  display: inline-block;
  border-bottom: 1px solid #ccc;
}

.is-style-bottom2typeborder:before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100px;
  width: 45%;
  border-bottom: 2px solid var(--wp--preset--color--secondary);
}
.is-style-leftborder{
  margin:0;
  padding-left:8px;
  border-left: 6px solid #a61844;
}

.is-style-topbottomborder {
  padding:4px 0 4px 4px;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
}

.is-style-leftbottomborder {
	padding-left:8px;
  padding-bottom: 2px;
  border-left: 8px solid #a61844;
  border-bottom: 1px solid #666;
}
.is-style-bothsideline {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
}

.is-style-bothsideline::before,
.is-style-bothsideline::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #e3bf00;
}

.is-style-bothsideline::before {
	margin-right: 20px;
}
.is-style-bothsideline::after {
	margin-left: 20px;
}

.is-style-brakets {
  position: relative;
  line-height: 1.4;
  padding:0.25em 1em;
  display: inline-block;
  top:0;
  
}
.is-style-brakets:before, .is-style-brakets:after{
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}

.is-style-brakets:before {
  border-left: solid 2px var(--wp--preset--color--secondary);
  border-top: solid 2px var(--wp--preset--color--secondary);
  border-bottom: solid 2px var(--wp--preset--color--secondary);
  left: 0;
}
.is-style-brakets:after {
  content: '';
  border-top: solid 2px var(--wp--preset--color--secondary);
  border-right: solid 2px var(--wp--preset--color--secondary);
  border-bottom: solid 2px var(--wp--preset--color--secondary);
  right: 0;
	
}
.wp-block-table.is-style-border table{
	border: solid 1px #ccc; 
	border-collapse: collapse;
}
.wp-block-table.is-style-border th{
	border: solid 1px #ccc;
}
.wp-block-table.is-style-border td{
	border: solid 1px #ccc;
}

.is-style-underline{
  border-bottom:1px solid #333;

}
.is-style-query-title-underline{
  border-bottom:1px solid #333;

}

