*{
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
    overflow-wrap: break-word;
}
a {
	text-decoration-thickness: 1px;
	text-underline-offset: 0.25ch;
}
.front-header a{
	text-decoration:none;
}
.site-header a{
	text-decoration:none;
}
.sidebar a{
	text-decoration:none;
}
footer.wp-block-template-part a:hover{
	text-decoration:underline;
}
.wp-site-blocks{
	width:100%;
	margin:0;
	padding:0;
}
img{
	border: 0;
	max-width:100%;
	height:auto;
}
.circle{
	text-align:center;
}
.circle img{
	width:180px;
	height:180px;
	margin:0 auto;
	border-radius: 50%;
}
/*--------------------------------------------------------------------
 * Search
*--------------------------------------------------------------------*/

input[type="search"] {
	font-size: var(--wp--preset--font-size--normal);
	height:36px;
}

/*--------------------------------------------------------------------
 * Button
*--------------------------------------------------------------------*/
.wp-block-button{
	display:inline-block;
}
.wp-block-button:hover{
	display:inline-block;
	color:var(--wp--preset--color--white);
	background-color:var(--wp--preset--color--secondary);
}

input[type="submit"] {
    padding: 4px 8px;
	font-size: 1.0em;
	font-weight:600;
    text-align: center;
	cursor: pointer;
}
input[type="submit"].wp-block-button__link {
    padding: 8px 16px;
	font-size: var(--wp--preset--font-size--small);
    text-align: center;
	cursor: pointer;
	border:1px solid #999;
	background:none;
}
button[type="submit"] {
    padding: 0;
    width: 50px;
    height: 36px;
	font-size:0.8em;
	font-size: var(--wp--preset--font-size--xx-small);
    text-align: center;
	cursor: pointer;
}

/*--------------------------------------------------------------------
 * Structure
 *--------------------------------------------------------------------*/

h3 + p{
	padding:16px 0 0 0;
}

/*--------------------------------------------------------------------
 * Header
 *--------------------------------------------------------------------*/

 .site-header{
	position: relative;
	width: 100vw;
	margin:0;
	padding:0;
	z-index: 2;
}
.site-header .saryu-header-top{
	position: relative;
	margin:0 auto;
	padding:0;
}

.site-header .site-title{
	float:left;
	width:auto;
	margin:0;
	padding:0;
}
.site-header .site-title .wp-block-site-logo{
	width:auto;
}
@media only screen and (max-width: 1024px) {
	.site-title .wp-block-site-logo{
		max-width:480px;
		min-width:200px;
	}
}
/*--------------------------------------------------------------------
 * Front Header
*--------------------------------------------------------------------*/
.front-header{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
}
/*--------------------------------------------------------------------
   * Header Column
*--------------------------------------------------------------------*/

@media only screen and ( max-width:767px) {
	.header-block{
		display: none !important;
	}
}
@media only screen and (min-width: 768px) {
	.header-block{
		display: block;
		margin:0;
		padding:0;
	}
}

@media only screen and (max-width: 639px) {
}
/*--------------------------------------------------------------------
   * Header search
*--------------------------------------------------------------------*/

.site-header .wp-block-search__button-outside{
	padding-right:0;
	position:relative;
}
.site-header .wp-block-search__button-outside .wp-block-search__inside-wrapper{
	width:90px;
	margin-right:0;
	padding-right:0;
}
.site-header input[type="search"] {
	font-size: var(--wp--preset--font-size--normal);
	height:1.6rem;
}
.site-header button[type="submit"] {
    padding: 0;
	height:1.6rem;
	font-size:0.8em;
	font-size: var(--wp--preset--font-size--x-small);
    text-align: center;
	cursor: pointer;
}

/*--------------------------------------------------------------------
 *  Mobile Navigation
 *--------------------------------------------------------------------*/
 .wp-block-navigation .wp-block-navigation__responsive-container-open{
	margin:0 auto;
 }
 .wp-block-navigation.is-responsive .is-menu-open .wp-block-navigation__responsive-container-content {
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.wp-block-navigation.is-responsive .is-menu-open .wp-block-navigation__container {
	row-gap: 0.5rem;
	align-items: flex-start;
	padding-bottom: 0;
}
.wp-block-navigation.is-responsive .is-menu-open .wp-block-navigation-item {
	align-items: flex-start;
}

.wp-block-navigation.is-responsive .is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
	padding-bottom: 0;
	padding-top: 0.5rem;
	row-gap: 0.5rem;
}
.wp-block-navigation.is-responsive .is-menu-open ul.wp-block-navigation__container li a{
	width: 100%;
	height:38px;
	padding:0;
	flex-grow: 1;
	text-align:left;
}
.wp-block-navigation.is-responsive .is-menu-open ul.wp-block-navigation__container li li a{
	width: 100%;
	padding:0;
	flex-grow: 1;
	text-align:left;
}
.wp-block-navigation.is-responsive .is-menu-open ul.wp-block-navigation__container li li li a{
	width: 100%;
	padding:0;
	flex-grow: 1;
	text-align:left;
}
.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
	display: none;
}
.site-header .saryu-header-nav{
	clear:both;
	width:100vw;
	height:38px;
	margin:0;
	padding:0;
}
/*--------------------------------------------------------------------
 * Header Navigation
 *--------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: flex;
	}
	.sekka-header-nav .wp-block-navigation__responsive-container-open:not(.always-shown) {
		margin:6px auto 0;
	}
}
@media only screen and (min-width: 768px) {
	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: flex;
	}
	.wp-block-navigation__responsive-container:not(.is-menu-open){
		clear:both;
		width:100vw;
		height:38px;
		margin:0;
		padding:0;
	}
	.wp-block-navigation__responsive-container:not(.is-menu-open) ul.wp-block-navigation__container{
		height:38px;
		margin:0;
		padding:0;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.wp-block-navigation__responsive-container:not(.is-menu-open) ul.wp-block-navigation__container li{
		width: 100%;
		height:38px;
		margin:0;
		padding:0;
		flex-grow: 1;
		text-align:center;
	}
	.wp-block-navigation__responsive-container:not(.is-menu-open) ul.wp-block-navigation__container li a{
		display:block;
		position:relative;
		width: 100%;
		margin:0;
		text-align:center;
		white-space:nowrap;
	}
	.wp-block-navigation__responsive-container:not(.is-menu-open) ul.wp-block-navigation__container li li{
		border-bottom:1px solid #ccc;
	}
	.wp-block-navigation__responsive-container:not(.is-menu-open) ul.wp-block-navigation__container li li a{
		width: auto;
		display: block;
		margin:0;
		padding:8px 16px;
		line-height:1.6;
		text-align:left;
		white-space:nowrap;
	}
}

@media only screen and (min-width: 1200px){
	.wp-block-navigation__responsive-container-content{
		margin:0;
	}
}

.site-header .wp-block-navigation.wp-block-navigation a:hover,
.site-header .wp-block-navigation.wp-block-navigation a:focus,
.site-header a:hover,
.site-header a:focus {
    color: var(--wp--preset--color--secondary)
}
.front-header .wp-block-navigation.wp-block-navigation a:hover,
.front-header .wp-block-navigation.wp-block-navigation a:focus,
.front-header a:hover,
.front-header a:focus {
    color: var(--wp--preset--color--secondary)
}


/*--------------------------------------------------------------------
 * Front Cover
 *--------------------------------------------------------------------*/
 .front-cover{
	position: relative;
	top: 0;
	left: 0;
	clear: both;
	width: 100vw;
	height: 480px;
	margin: 0;
	padding: 0;
	overflow:hidden;
}
@media only screen and (min-width: 768px){
	.front-cover{
		position: relative;
		top: 0;
		left: 0;
		clear: both;
		width: 100vw;
		height: 100vh;
		margin: 0;
		padding: 0;
		overflow:hidden;
	}
}
/*--------------------------------------------------------------------
 * Cover
 *--------------------------------------------------------------------*/

.wp-block-cover{
	margin-top:0;
}
/*--------------------------------------------------------------------
* Page
*--------------------------------------------------------------------*/

p {
	overflow-wrap: break-word;
	word-wrap: break-word;
}
p.post-nav-links{
	text-align:center;
}
p.post-nav-links a.post-page-numbers{
	padding:4px;
	text-decoration:none;
	border:1px solid #ccc;
}
p.post-nav-links .post-page-numbers.current{
	padding:4px;
	border:1px solid #ccc;
	background-color:#f4f4f4;
}

/*--------------------------------------------------------------------
* Sidebar
*--------------------------------------------------------------------*/
.left-sidebar {
	display: flex;
	flex-direction: row-reverse ;
}

/*--------------------------------------------------------------------
 * Contents
 *--------------------------------------------------------------------*/

p.wp-block-post-excerpt__more-text{
	display: inline-block;
	margin:	8px 0;
	padding:2px 8px;
	font-size: var(--wp--preset--font-size--small);
	border:1px solid #333;
}
p.wp-block-post-excerpt__more-text a:link{
	text-decoration:none;
}
p.wp-block-post-excerpt__more-text:after{
	font-family: "dashicons";
	content: "\f345";
	margin-left: 5px;
}
.moreLink a{
	text-decoration:none; 
}
.wp-block-post-content{
	width:100%;
	margin:0 auto;
}
h2.wp-block-post-title a{
	text-decoration:none;
}
.wp-block-post-featured-image{
	margin:0 0 8px 0;
}

.wp-embedded-content {
	max-width: 100%;
	margin:0 auto;
	text-align:center;
}

.wp-embedded-content{
	width:100%;
}
.wp-block-calendar table.wp-calendar-table thead tr th{
	background-color:rgba(199, 173, 132,0.5);
}
/*--------------------------------------------------------------------
 * E.T.C
 *--------------------------------------------------------------------*/
.wp-block-categories-dropdown{
	font-size:18px;
}
select {
	color: #333;
	font-size: 16px;
	width: 100%;
	height: 100%;
	padding: 4px 10px;
}
/*--------------------------------------------------------------------
 * Meta
*--------------------------------------------------------------------*/
.wp-block-post-date {
	display:inline;
}
.wp-block-post-date a{
	display:inline;
}
.taxonomy-category{
	display:inline;
}
.taxonomy-category a{
	display:inline;
}
.taxonomy-post_tag{
	display:inline;
}
.taxonomy-post_tag a{
	display:inline;
}
.wp-block-post-author {
	display:inline;
}
.wp-block-post-author__content{
	display:inline;
}
p.wp-block-post-author__name{
	display:inline;
}
.wp-block-post-date:before {
	font-family: "dashicons";
	content: "\f469";
	top: 3px;
	font-size: var(--wp--preset--font-size--small);
	line-height:1.5;
	vertical-align :middle;
	margin-right:2px;
	margin:0;
	padding:0;
	line-height:1;
}
.taxonomy-category:before {
	font-family: "dashicons";
	content: "\f318";
	font-size: var(--wp--preset--font-size--small);
	line-height:1.8;
	vertical-align : middle;
	margin-right:2px;
	margin:0;
	padding:0;
	line-height:1;
}
.taxonomy-post_tag:before {
	font-family: "dashicons";
	content: "\f323";
	font-size: var(--wp--preset--font-size--small);
	line-height:1.5;
	vertical-align : middle;
	margin-right:2px;
	margin:0;
	padding:0;
	line-height:1;
}
.wp-block-post-author:before {
	font-family: "dashicons";
	content: "\f110";
	font-size: var(--wp--preset--font-size--small);
	line-height:1.5;
	vertical-align:middle;
	margin-right:2px;
	margin:0;
	padding:0;
	line-height:1;
}
/*--------------------------------------------------------------------
 * Side Bar
 *--------------------------------------------------------------------*/

.flex-row{
	display: flex;
	flex-direction:row-reverse;
}
.sidebar h3{
	font-size: var(--wp--preset--font-size--large);
	font-weight:600;
}
.sidebar ul{
	margin:0;
	padding:0;
}
.sidebar ul li a{
	width:100%;
	margin:0;
	padding:0;
}
@media only screen and (min-width: 481px) {
	.sidebar ul.wp-block-latest-posts{
		width:100%;
		margin:8px 0 0 0;
		padding:0;
	}
	.sidebar a.wp-block-latest-posts__post-title{
		font-size: var(--wp--preset--font-size--medium);
	}
	.sidebar ul.wp-block-latest-posts li .wp-block-latest-posts__post-author{
		font-size: var(--wp--preset--font-size--small);
	}
	.sidebar ul.wp-block-latest-posts li .wp-block-latest-posts__post-date{
		font-size: var(--wp--preset--font-size--small);
	}
	.sidebar ul.wp-block-latest-posts li .wp-block-latest-posts__post-excerpt{
		font-size: var(--wp--preset--font-size--normal);
	}
}

@media (min-width: 768px) {
	.sidebar{
		border:1px solid #ccc;
	}
}

/*--------------------------------------------------------------------
 * Footer
 *--------------------------------------------------------------------*/
@media only screen and (max-width: 599px) {
	footer.wp-block-template-part .wp-block-group{
		width:100%;
		margin:0;
		padding:0;
	}
	footer.wp-block-template-part .wp-block-columns{
		width:100%;
		margin:0;
		padding:0 16px;
	}
}
footer.wp-block-template-part ul{
	margin:0;
	padding:0;
	list-style-position:inside;
}
/*--------------------------------------------------------------------
 * Comment
 *--------------------------------------------------------------------*/

.wp-block-comments{
}
.wp-block-post-comments input[type=submit] {
	font-size: var(--wp--preset--font-size--x-small);
	border:1px solid #000;
}
h2.comments-title{
	border-bottom:5px solid #ccc;
}
h2.wp-block-comments-title{
	font-weight:600;
}
h3.comment-reply-title{
	font-size: var(--wp--preset--font-size--large);
	font-weight:600;
}
a.comment-reply-link{
	display:inline;
	padding:2px 8px;
	border:1px solid #ccc;
}
p.logged-in-as{
	font-size: var(--wp--preset--font-size--normal);
}
p.comment-form-comment{
	font-weight:bold;
}
ol.wp-block-comment-template > li.comment{
	width:100%;
	margin-top:16px;
	padding:16px 16px 0 16px;
	border:1px solid #ccc;
}
pre {
	white-space: pre-wrap;
}
.wp-block-comments-pagination{
	margin:16px 0;
	text-align:center;
}
.wp-block-comments-pagination a:hover{
	text-decoration:none;
}
.wp-block-comments-pagination-numbers{
	position:static;
	margin:0;
	text-align:center;
	float:left;
}
.wp-block-comments-pagination-numbers a:hover{
	text-decoration:none;
}
.wp-block-comments-pagination-next,
.wp-block-comments-pagination-previous{
	padding:4px 8px;
	border:1px solid #ccc;
}
.wp-block-post-comments-form input[type="submit"]:hover {
    background-color: var(--wp--preset--color--secondary);
}
/*--------------------------------------------------------------------
 * Post Navigation
 *--------------------------------------------------------------------*/
.post-nav{
	display: -webkit-box; /*Android4.3*/
	display: -moz-box;    /*Firefox21*/
	display: -ms-flexbox; /*IE10*/
	display: -webkit-flex; /*PC-Safari,iOS8.4*/
	display: flex;
	justify-content:space-between;
    align-items:stretch;
	margin:0 0;
	padding:0;
}
.post-navigation-link-next,
.post-navigation-link-previous{
	flex-basis:48%;
	padding:16px;
}

.post-navigation-link-previous a:after {
	font-family: "dashicons";
	content: "\f345";
	top: 3px;
	font-size: var(--wp--preset--font-size--small);
	line-height:1.5;
	vertical-align :middle;
}

.post-navigation-link-next a:before {
	font-family: "dashicons";
	content: "\f341";
	top: 3px;
	font-size: var(--wp--preset--font-size--small);
	line-height:1.5;
	vertical-align :middle;
}
.wp-block-post-navigation-link{
	display:block;
	margin:0;
	border:1px solid #ccc;
}

.wp-block-post-navigation-link a{
	text-decoration:none;
	margin:0;
	padding:0;
}
/*--------------------------------------------------------------------
 * Pagination
 *--------------------------------------------------------------------*/
.page-numbers{
	width:1rem;
	height:1rem;
	padding:3px 8px;
	border:1px solid #ccc;
}
.page-numbers.current{
	background-color:#ccc;
}
.wp-block-query-pagination-previous,
.wp-block-query-pagination-next{
	padding:0 8px;
	border:1px solid #ccc;
}
.wp-block-query-pagination a{
	text-decoration:none;
}

/*--------------------------------------------------------------------
 * New Posts
*--------------------------------------------------------------------*/

ul.wp-block-latest-posts{
	margin:16px;
	padding:16px;
}
ul.wp-block-latest-posts li > a{
	font-weight:600;
	text-decoration:none;
}
@media only screen and (max-width: 599px) {
	ul.wp-block-latest-posts{
		display:block;
		width:100%;
		margin:0;
		padding:0 8px;
		overflow:hidden;
   }
   .wp-block-latest-posts.is-grid {
		display:block;
		width:100%;
		margin:0;
		margin:16px 0;
		padding:0 8px;
		overflow:hidden;
	}
   ul.wp-block-latest-posts li{
	   	margin:0 8px;
	   	padding:0 8px;
	   	overflow:hidden;
   }
   ul.wp-block-latest-posts li .wp-block-latest-posts__featured-image{
	   	width:100%;
	   	margin:0;
	  	padding:0;
   }
}

@media only screen and (min-width: 600px) {
	.wp-block-latest-posts.is-grid {
		display: flex;
		flex-wrap: wrap;
		padding: 0 8px;
	}
}